@import "@app/variable.scss";
.router-list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
}
.flex-layout-right {
  color: white;
  width: 180px;
  div {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  a {
    color: #ea5c5a;
    font-size: 22px;
    padding: 5px;
  }
}
.table-title-text {
  display: flex;
  justify-content: left;
  align-items: center;
  color: rgb(254, 254, 254);
  font-size: 23px;
  img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  span {
    color: rgb(233, 90, 92);
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.table-head {
  width: 1000px;
  height: 10px;
  display: flex;
}
.table-title-div {
  //梯形
  width: 100px;
  border-width: 0px 10px 13px 0px;
  border-style: none solid solid;
  border-color: transparent transparent rgb(0, 143, 239);
}
//四边形
.table-head-div {
  width: 8px;
  height: 10px;
  transform-origin: 0 0;
  transform: skew(30deg);
  background: rgb(0, 192, 165);
}
.table-backgrpund {
  border: 2px solid rgb(0, 153, 255);
  // margin-top: 10px;
  background: rgba(6, 45, 102,.7);
  // opacity: 0.7;
  position: relative;
  border: 2px solid rgb(0, 153, 255);
  width: 535px;
  height: 29.53%;
}
.box-head {
  border-top: 25px solid rgb(0, 153, 255);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 300px;
  margin: 0 auto;
}
.radar-chart {
  width: 330px;
  height: 100%;
}
.box-head-title {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}
.radar-box {
  background: rgba(0, 51, 102, 0.7);
  margin-top: 15px;
  // opacity: 0.7;
  position: relative;
  border: 2px solid rgb(0, 153, 255);
  width: 535px;
  height: 305px;
  z-index: 9;
}
.chart-left {
  // background:rgba(255, 255, 255, 0.6)!important;
  width: 540px;
  position: absolute;
  left: 15px;
  top: 80px;
  z-index: 10;
  height: calc(100% - 80px - 10px - 15px);
  .line-chart {
    width: 500px;
    height: 280px;
    z-index: 10;
  }

  .ant-pagination.mini .ant-pagination-total-text{
    color:white
  }
  .anticon svg{
    color:white
  }
  .ant-pagination-item a{
    color: white;
  }
  .ant-pagination-item-active a {
    color: #1890ff;
  }
  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis{
    color: white;
  }
}
.chart-right {
  // background:rgba(255, 255, 255, 0.6)!important;
  width: 430px;
  position: absolute;
  right: 110px;
  top: 80px;
  z-index: 10;
  height: calc(100% - 80px - 10px - 15px);
  .bar-chart {
    width: 430px;
    height: 100%;
  }
  .pie-chart {
    width: 320px;
    height: 100%;
  }
}
.pie-flex-layout {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-layout {
  display: flex;
  align-items: center;
  color: white;
}
.pie-number {
  color: #ea5c5a;
  margin-left: 5px;
  font-size: 18px;
}
.video-table {
  .ant-table table {
    table-layout: fixed;
    color: white;
    background: #003366;
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
  }
  tr.ant-table-expanded-row > td,
  tr.ant-table-expanded-row:hover > td {
    background: #003366;
  }
  .ant-table.ant-table-small
    .ant-table-thead
    .ant-table-filter-column-title {
    padding: 8px 2.3em 8px 8px;
    color: white;
    background: #003366;
  }
  .ant-table.ant-table-small
    .ant-table-thead
    th.ant-table-column-has-sorters {
    padding: 0;
    color: white;
    background: #003366;
  }
  .ant-table.ant-table-small .ant-table-thead > tr > th {
    padding: 8px 8px;
    color: white;
    background: #003366;
  }
  .ant-table.ant-table-small .ant-table-tbody > tr > td {
    background: #003366;
  }
  tr.ant-table-row ant-table-row-level-0 {
    background: #000000;
  }
  .ant-table-row-expand-icon-collapsed::before {
    color: black;
  }
  .ant-table-row-expand-icon-collapsed::after {
    color: black;
  }
  .ant-table-row-expand-icon::after {
    color: black;
  }
}