@import "@app/variable.scss";
.router-list {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 50px;
}
.flex-layout-right {
  color: white;
  width: 180px;
  div {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  a {
    color: #ea5c5a;
    font-size: 22px;
    padding: 5px;
  }
}
.table-title-text {
  color: rgb(254, 254, 254);
  font-size: 23px;
  // padding: 6px;
  span {
    color: rgb(233, 90, 92);
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.table-head {
  width: 1000px;
  height: 10px;
  display: flex;
}
.table-title-div {
  //梯形
  width: 100px;
  border-width: 0px 10px 13px 0px;
  border-style: none solid solid;
  border-color: transparent transparent rgb(0, 143, 239);
}
//四边形
.table-head-div {
  width: 8px;
  height: 10px;
  transform-origin: 0 0;
  transform: skew(30deg);
  background: rgb(0, 192, 165);
}
.table-backgrpund {
  border: 2px solid rgb(0, 153, 255);
  // margin-top: 10px;
  background: rgb(6, 45, 102);
  opacity: 0.7;
  position: relative;
  border: 2px solid rgb(0, 153, 255);
  width: 535px;
  height: 300px;
}
.box-head {
  border-top: 25px solid rgb(0, 153, 255);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 300px;
  margin: 0 auto;
}
.radar-chart {
  width: 330px;
  height: 300px;
}
.box-head-title {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}
.radar-box {
  background: #003366;
  margin-top: 10px;
  opacity: 0.7;
  position: relative;
  border: 2px solid rgb(0, 153, 255);
  width: 535px;
  height: 300px;
}
.chart-left {
  width: 550px;
  position: absolute;
  left: 10px;
  top: 0;
  opacity: 0.7;
  bottom: 0;
  z-index: 10;
  margin-top: 80px;
  // padding: 4px;
  .line-chart {
    width: 400px;
    height: 300px;
  }
}
.chart-right {
  width: 550px;
  opacity: 0.7;
  position: absolute;
  right: 100px;
  top: 0;
  bottom: 0;
  z-index: 10;
  margin-top: 80px;
  // padding: 4px;
  display: flex;
  justify-content: center;
  .bar-chart {
    width: 535px;
    height: 280px;
  }
  .pie-chart {
    width: 330px;
    height: 300px;
  }
}
.pie-flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-layout {
  display: flex;
  align-items: center;
  color: white;
  width: 100px;
}
.pie-number {
  color: #ea5c5a;
  margin-left: 5px;
  font-size: 18px;
}
