// @import "@app/variable.scss";
.router-item {
  position: absolute;
  right: 10px;
  top: 80px;
  background: rgba(255, 255, 255, 0);
  padding-top: 10px;
  img {
    border-radius: 10px;
    padding-bottom: 5px;
    height: 80px;
    width: 80px;
  }
}
