.device-manage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-content {
    flex: 1;
    display: flex;
    margin-top: 16px;
    &-left {
      width: 40%;
      margin-left: 16px;
      &-title {
        margin-bottom: 16px;
        text-align: center;
        font-size: 18px;
        font-weight: 800;
        position: relative;
        &-sub {
          position: absolute;
          right: 0;
        }
      }
      .site-count-chart {
        width: 100%;
        height: calc(100% - 92px);
      }
    }
    &-right {
      flex: 1;
      &-title {
        margin-bottom: 16px;
        text-align: center;
        font-size: 18px;
        font-weight: 800;
        position: relative;
        &-sub {
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .upload {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}
.device-tabs {
  height: 100%;
  .ant-tabs-content {
    height: 100%;
    .ant-tabs-tabpane {
      height: 100%;
      width: 100%;
      .primary-row , .primary-row:hover {
        background: #81b8eb!important;
        color: #fff!important;
        transition: background .3s,color .3s;
        a {
          color: #fff!important;
        }
        td {
          background-color: #81b8eb!important;
        }
      }
      .ant-table-cell {
        padding: 6px 0;
      }
    }
  }
}