@import "@app/variable.scss";
.flood-river {
  width: 100%;
  padding-bottom: 15px;
  background: rgb(0, 51, 102);
  height: 100%;
  .m-left-notices {
    background: white;
    margin-right: 105px;
    display: flex;
    padding: 16px 0;
    height: calc(100% - 106px);
    margin-left: 16px;
    &-table {
      flex: 1;
      padding: 0 16px;
      &-params {
        margin-bottom: 16px;
      }
    }
    &-chart {
      flex: 1;
      display: flex;
      flex-direction: column;
      border: 1px solid #f0f0f0;
      padding: 8px;
      margin-right: 16px;
      &>div:first-child{
        margin-bottom: 16px;
      }
      &>div{
        flex: 1;
      }
    }
    .ant-table-wrapper {
      background: white;
    }
    .tg .tg-2xbj {
      background: #003366;
      color: white;
    }
    .noties-head {
      display: flex;
      div {
        margin-right: 15px;
      }
    }
  }
  .flood-noyices-top {
    height: 105px;
    width: 100%;
    background: rgb(0, 51, 102);
  }
  .primary-row , .primary-row:hover {
    // background: #81b8eb!important;
    color: #f5222d;
    // transition: background .3s,color .3s;
    a {
      color: #f5222d!important;
    }
    // td {
    //   background-color: #81b8eb!important;
    // }
  }
  .ant-table-row{
    height: 6.8vh;
  }
  .m-left-notices-table{
    width: 200px;
    display: flex;
    flex-flow: column;
    // align-items: center;
    justify-content: space-between;
  }
}
