.task-list-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  input {
    width: 300px;
  }
  button {
    margin-left: 10px;
  }
}
.task-list-card {
  width: 100%;
  .task-list-card-text-margin {
    // margin-bottom: 15px;
    line-height: 25px;
  }
  .task-list-card-remark {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  // .task-list-card-remark:hover {
  //   text-overflow: inherit;
  //   overflow: visible;
  //   white-space: pre-line;
  // }
  .task-list-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-list-card-footer {
    display: flex;
  }
  a {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0 5px;
  }
  .ant-card-bordered {
    margin-left: 8px;
    margin-bottom: 8px;
    height: 350px;
    width: 16vw;
  }
}
.task-display {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  color: red;
  .task-display-left {
    width: 50vw;
    .ant-card-bordered {
      height: 100%;
      margin-right: 30px;
    }
  }
  .task-display-right {
    width: 50vw;
    .ant-card-bordered {
      height: 100%;
    }
    .ant-card-body {
      padding: 12px;
    }
  }
}
.task-voerflow {
  height: 100px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  .ant-select-selector {
    // margin-top: 50px;
    width: 100%;
    min-width: 350px;
  }
  // overflow: auto;
  // background: #eeeeee;
}
.task-info-modal {
  z-index: 99;
  position: absolute;
  top: 150px;
  width: 400px;
  // right: 20px;
  margin-left: 20px;
}
.task-info-fotter-center {
  display: flex;
  justify-content: center;
}
.task-info-fotter {
  margin: 0 auto;
  //width: 800px;
  position: fixed;
  justify-content: space-around;
  bottom: 0px;
  display: flex;
  div {
    width: 90px;
  }
  .task-info-fotter-div {
    cursor: pointer;
  }
  .task-info-fotter-text {
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .task-info-fotter-message {
    border-radius: 50%;
    border: 1px solid #8c8c8c;
    width: 90px;
    height: 90px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.expert-dispatch {
  display: flex;
  .expert-dispatch-left {
    width: 70%;
    .expert-select {
      display: flex;
      justify-content: space-between;
    }
  }
  .expert-dispatch-right {
    width: 30%;
  }
}
.expert-dispatch-close {
  position: absolute;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.expert-dispatch-right-div {
  overflow: scroll;
  width: 100%;
  height: 800px;
}
.expert-right-button {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.model-form-scroll {
  .ant-tree-list-holder-inner {
    overflow: scroll;
    height: 300px;
  }
}
.site-tree-search-value {
  color: #f50;
}
.tree-select-input {
  .ant-select-multiple.ant-select-allow-clear .ant-select-selector {
    overflow: scroll;
    max-height: 110px;
  }
}
.task-page-head {
  position: absolute;
  z-index: 99;
  right: 40px;
  .ant-page-header {
    padding: 0px 0px;
  }
}
.task-timeline-div {
  margin: auto;
  width: 640px;
  .task-timeline-card {
    width: 300px;
  }
  .task-timeline-arrow {
    display: flex;
  }
}
.chart-group-flex{
  display: flex;
  .chart-group-left{
    width: 70vw;
  }
  .chart-group-right{
    width: 30vw;
    height: 600px;
    overflow: scroll;
  }
  .chart-group-right-button{
    position: fixed;
    bottom:100px;
    right: 200px;
  }
}
.track-query-box{
  height: 80vh;
}
.track-query-body{
  position: absolute;
  top: 200px;
  right: 100px;
  z-index: 99;
  .track-query-icon{
    width: 30px;
    height: 30px;
  }
}
