.task-list-head {
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: space-around;
  margin-bottom: 10px;
  .task-list-head-div {
    // width: 30vw;
    color: white;
    height: 50px;
  }
  input {
    width: 300px;
  }
  button {
    margin-left: 10px;
  }
}
.task-list-card-text-span {
  width: 10px;
  height: 10px;
  background: rgb(2, 167, 240);
  margin-right: 5px;
}
.task-list-card-text-margin {
  line-height: 25px;
  display: flex;
  align-items: center;
}
.task-list-card-remark {
  // color: red;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.task-list-card {
  background: #003366;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  .task-list-card-item {
    width: 30vw;
    margin-right: 10px;
    .task-list-card-img {
      width: 150px;
      height: 150px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .task-list-card-item-card {
      width: 100%;
    }
  }

  // .task-list-card-remark:hover {
  //   text-overflow: inherit;
  //   overflow: visible;
  //   white-space: pre-line;
  // }
  .task-list-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-list-card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    background: #40a9ff;
    color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  a {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0 5px;
  }
  .ant-card-bordered {
    margin-left: 8px;
    margin-bottom: 8px;
    height: 350px;
    width: 16vw;
    // background: #003366;
  }
}
.task-display {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  color: red;
  // height: 1000px;
  .task-display-left {
    width: 50vw;
    height: 100%;
    .ant-card-bordered {
      height: 100%;
      margin-right: 30px;
    }
  }
  .task-display-right {
    width: 50vw;
    .ant-card-bordered {
      height: 100%;
    }
    .ant-card-body {
      padding: 12px;
    }
  }
}
.task-voerflow {
  height: 100px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  .ant-select-selector {
    // margin-top: 50px;
    width: 100%;
    min-width: 350px;
  }
  // overflow: auto;
  // background: #eeeeee;
}
.task-info-modal {
  z-index: 99;
  position: absolute;
  top: 100px;
  width: 400px;
  // right: 20px;
  margin-left: 20px;
}
.task-info-fotter-center {
  display: flex;
  justify-content: center;
}
.task-info-fotter {
  z-index: 99;
  margin: 0 auto;
  width: 800px;
  position: fixed;
  justify-content: space-around;
  bottom: 0px;
  display: flex;
  color: white;
  div {
    width: 90px;
  }
  .task-info-fotter-div {
    cursor: pointer;
  }
  .task-info-fotter-text {
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .task-info-fotter-message {
    border-radius: 50%;
    border: 1px solid #8c8c8c;
    width: 90px;
    height: 90px;
    background: #003366;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.expert-dispatch {
  display: flex;
  .expert-dispatch-left {
    width: 70%;
    .expert-select {
      display: flex;
      justify-content: space-between;
    }
  }
  .expert-dispatch-right {
    width: 30%;
  }
}
.expert-dispatch-close {
  position: absolute;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.expert-dispatch-right-div {
  overflow: scroll;
  width: 100%;
  height: 800px;
}
.expert-right-button {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.model-form-scroll {
  .ant-tree-list-holder-inner {
    overflow: scroll;
    height: 300px;
  }
}
.site-tree-search-value {
  color: #f50;
}
.tree-select-input {
  .ant-select-multiple.ant-select-allow-clear .ant-select-selector {
    overflow: scroll;
    max-height: 110px;
  }
}
.task-page-head {
  position: absolute;
  margin-top: 20px;
  z-index: 99;
  right: 135px;
  .ant-page-header {
    padding: 0px 0px;
  }
}

.task-info-timeline {
  .ant-card {
    background: none;
    width: 50px;
  }
  .ant-timeline.ant-timeline-label .ant-timeline-item-head-custom {
    background: rgba(3, 50, 102, 0.8);
  }
  .ant-timeline.ant-timeline-label
    .ant-timeline-item-left
    .ant-timeline-item-content {
    left: calc(50% - 11px);
  }
  background: rgba(3, 50, 102, 0.8);
  border: 1px solid #40a9ff;
  color: white;
  position: absolute;
  width: 380px;
  max-height: 800px;
  top: 100px;
  overflow-y: auto;
  ::-webkit-scrollbar {
    background-color: red;
  }
  right: 100px;
  z-index: 9;
}
.task-timeline-div {
  padding-top: 40px;
  margin: auto;
  width: 95%;
  .task-timeline-card {
    color: #40a9ff;
    width: 110px;
    height: 50px;
    background: white;
    border-radius: 20px;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-timeline-item-label {
    color: white;
  }
  .task-timeline-arrow {
    // width: 120px;
    display: flex;
    justify-content: flex-end;
  }
}
.chart-group-flex {
  display: flex;
  .chart-group-left {
    width: 70vw;
  }
  .chart-group-right {
    width: 30vw;
    height: 600px;
    overflow: scroll;
  }
  .chart-group-right-button {
    position: fixed;
    bottom: 100px;
    right: 200px;
  }
}
.track-query-box {
  height: 80vh;
}
.track-query-body {
  img {
    width: 40px;
    height: 40px;
  }
  display: flex;
  // align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 120px;
  width: 200px;
  height: 50px;
  right: 500px;
  z-index: 99;
  .track-query-icon {
    width: 15px;
    height: 15px;
  }
  .ant-input-suffix {
    span {
      display: none;
    }
  }
}
.task-checkbox-img {
  //width: 300px;
  //height: 400px;
  position: absolute;
  top: 180px;
  z-index: 9;
  right: 500px;
  text-align: right;
  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
.task-event-info-card {
  .task-left-card {
    .ant-card-body {
      height: 440x;
    }
  }
  .ant-card {
    background: none;
  }
  .ant-card-body {
    color: white;
    background: rgba(3, 50, 102, 0.8);
  }
  .ant-card-head {
    color: white;
    background: rgba(3, 50, 102, 0.8);
  }
  .ant-card-bordered {
    border: 1px solid #40a9ff;
  }
}
.task-event-chart {
  display: flex;
  justify-content: space-around;

  .task-event-flex {
    color: white;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.task-info-checkbox {
  z-index: 19;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 220px;
  border: 1px solid rgb(22, 83, 102);
  color: white;
  border-radius: 4px;
  background: rgba(15, 50, 70, 0.5);
  .divider {
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 100%;
  }
  .ranSwitch {
    display: flex;
    padding: 5px;
    //justify-content: center;
    width: 100%;
    //align-items: center;
    .switch-checkout {
      display: flex;
      align-items: center;
      color: white;
      height: 30px;
      width: 100%;
    }
    .switch-ponding-flex {
      display: flex;
      align-items: center;
    }
    .switch-rain {
      margin-right: 10px;
      width: 12px;
      height: 12px;
      background: rgb(2, 158, 2);
      border-radius: 50%;
    }
    .switch-ponding {
      margin-right: 10px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 12px solid rgb(2, 158, 2);
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background: rgba(15, 50, 70, 0.5);
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      position: absolute;
      display: table;
      border: 2px solid white;
      border-top: 0;
      border-left: 0;
      -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
      -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
      transform: rotate(45deg) scale(1) translate(-50%, -50%);
      opacity: 1;
      -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      content: " ";
    }
    .switch-border {
      width: 100%;

      //.swtich-border-check {
      //  margin-left: 5px;
      //  margin-top: 5px;
      //}
    }
  }
}
.task-event-card-head {
  width: 160px;
  height: 160px;
  // background: red;
  // border-radius: 50%;
}
.task-info-map {
  // margin-top: 90px;
  // width: 100%;
  // height: 100%;
}
.task-dispatch-body {
  // height: 100%;
  padding: 34px;
  margin-right: 95px;
  // margin-top: -95px;
}
.right-background {
  height: 100%;
  width: 100px;
  background: #003366;
  position: absolute;
  right: 0px;
  z-index: 9;
  top: 0px;
}
.task-list-body {
  padding: 24px;
  background: #003366;
  height: 100%;
  width: 100%;
  padding-right: 100px;
  .top-bacground {
    height: 90px;
    background: #003366;
  }

  // margin-top: 90px;
}
.task-list-pagination {
  position: absolute;
  right: 110px;
  // bottom: 0px;
}
.task-body-border {
  height: 850px;
  border: 1px solid #1890ff;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 35px;
}
.task-card-container {
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
    border: 1px solid #003366;
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
    border-radius: 2px 20px 0 0;
    border: 0px;
    color: white;
    background: #1890ff;
  }
  .task-card-container
    .ant-tabs-card.ant-tabs-top
    > .ant-tabs-nav
    .ant-tabs-tab {
    color: white;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
    background: blue;
  }
}
.task-danger-body {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 800px;
  .ant-modal-content {
    width: 1200px;
  }
  .task-danger-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .ant-card-body {
      // height: 700px;
    }
  }
}
.task-dispatch-root-body {
  // min-height: 800px;
  height: 100%;
  background: #003366;
}
.task-body-min-height {
  min-height: 850px;
  height: 100%;
  width: 100%;
  background: white;
}
.task-dispatch-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  .search-input {
    width: 200px;
    margin: 0 10px;
  }
}
.task-card-srcoll {
  overflow-y: auto;
  min-height: 100px;
  height: 11vh;
  width: 100%;
}
.person-info-line {
  padding: 10px;
}
