.m-ovl-box {
  // #048EF1
  display: none;
  width: 300px;
  height: 350px;
  position: relative;
  background: rgba(3, 50, 102, 0.8) !important;
  // opacity: 0.7;
  padding: 15px;
  font-size: 14px;
  color: white;
  // box-shadow: 0 2px 4px 0 rgba(152, 152, 152, 0.5);
  border-radius: 4px;
  .m-ovl-close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
  }
}

.m-ovl-video {
  width: 384px;
  .m-ovl-vc {
    height: 186px;
    video {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
.m-ovl-line {
  display: flex;
  width: 100%;
  // justify-content: space-around;
  color: white;
  position: relative;
  line-height: 25px;
  padding: 10px;
  font-size: 20px;
}
.m-ovl-warehouse {
  padding: 0;
  .m-ovl-wh-wrap {
    width: 380px;
    // height: 300px;
    overflow: auto;
    .ant-table-header {
      > table {
        visibility: visible !important;
      }
    }
  }
}
