.home {
  display: flex;
  min-height: 100%;

  flex-direction: row;
}
.base-layout-modal {
  .ant-modal-content {
    margin-top: -50px;
  }
  .ant-modal-body {
    overflow: auto;
    height: 650px;
  }
}
.h-menu {
  width: 256px;
  // height: 100%;
  flex-shrink: 0;
  background: #001529;
  transition: width 0.3s;
  overflow: hidden;
  &.active {
    width: 80px;
  }
}
.h-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.h-header {
  height: 64px;
  flex-shrink: 1;
  background: white;
}
.h-content {
  flex-grow: 1;
  background: rgba(47, 47, 107, 0.3);
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.login-body-layout {
  width: 100%;
  height: 100%;
  background: url(../../resource/navi/login.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-input-affix-wrapper {
    border: 1px solid #1175be;
    border-radius: 5px;
  }
}
.login-body-card {
  display: flex;
  width: 800px;
  height: 400px;
  opacity: 0.9;
}
.login-card-left {
  border-radius: 20px 0 0 20px;
  background: rgba(17, 117, 190, 0.8);
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  div {
    text-align: center;
  }
}
.login-card-right {
  border-radius: 0px 20px 20px 0px;
  background: white;
  width: 50%;
  height: 400px;
  border: 2px solid rgba(17, 117, 190, 1);
  
}
.login-crad-right-title {
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 107, 185);
  font-size: 24px;
  font-weight: bold;
}
.login-card-right-input {
  padding: 24px;
}
.swlogo {
  position: absolute;
  left: 55%;
  top: 14%;
}
.dyszhswxt {
  position: absolute;
  left: 60%;
  top: 15%;
}
.title {
  text-align: left;
  color: rgb(0, 140, 255);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}
.remenberpass {
  font-size: 20px;
  color: blue($color: #000000);
  font-weight: 700;
}
.sbmbotton {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 5px;
}

.content {
  width: 500px;
  height: 615px;
  position: absolute;
  left: 76%;
  top: 54%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 40px;
  padding-bottom: 0;
  border-radius: 12px;
  box-shadow: 0 0 5px rgb(117, 111, 111);
}
.view-query {
  display: flex;
  align-content: center;
  justify-items: center;
  button {
    margin-left: 15px;
  }
}

.inputs {
  width: 100%;
  height: 100%;
  // padding: 10px 20px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid rgba(17, 117, 190, 1);
}
.sbmbotton {
  font-size: 25px;
  border-radius: 15px;
}
.login-footer{
  position: fixed;
  bottom: 20px;
  z-index: 99;
  color: white;
}