.m-ovl-box {
  position: relative;
  background: #048EF1;
  padding: 5px;
  font-size: 14px;
  color: #666666;
  box-shadow: 0 2px 4px 0 rgba(152, 152,152,.5);
  border-radius: 4px;
  .m-ovl-close {
    position: absolute;
    right: 16px;
    top: 18px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
  }
}
.m-ovl-person {
  .m-ovl-line {
    span:first-child {
      padding-right: 20px;
    }
    .m-ovl-video {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      line-height: 25px;
      color: #0C63CA;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
.m-ovl-video {
  width: 384px;
  .m-ovl-vc {
    height: 186px;
    video {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
.m-ovl-line {
  position: relative;
  line-height: 25px;
  padding: 10px;
  font-size: 20px;
}
.m-ovl-warehouse {
  padding: 0;
  .m-ovl-wh-wrap {
    width: 380px;
    // height: 300px;
    overflow: auto;
    .ant-table-header {
      > table {
        visibility: visible!important;
      }
    }
  }
  
}
.luo-ovl-rain {
  padding: 0!important;
  background: rgba(3, 50, 102, .8)!important;
  border: 1px solid #048EF1;
  .m-ovl-line {
    font-size: 14px!important;
    line-height: 24px!important;
    margin: 8px 0;
    color: #ffffff;
    padding: 0 16px;
  }
  .luo-ovl-title {
    margin-top: 0;
    background: #048EF1;
    color: #ffffff;
    padding: 8px 16px;
  }
  label {
    display: inline-block;
    width: 110px;
    text-align: right;
  }
  .m-ovl-close {
    right: 8px!important;
    top: 8px!important;
    color: #ffffff!important;
  }
}