.rain {
  .chart-left {
    margin-top: 90px;
    width: 514px;
    .m-wth-chart-rain {
      background: #003366;
      height: 400px;
      opacity: 0.7;
    }
    .radar-box {
      width: 514px;
    }
    .rain-pie-chart {
      width: 500px;
      height: 500px;
    }
  }

  .chart-right {
    width: 480px;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin-top: 80px;
    // padding: 4px;
    display: flex;
    justify-content: center;
    .bar-chart {
      width: 535px;
      height: 280px;
    }
    .pie-chart {
      width: 330px;
      height: 300px;
    }
    .rain-set-table{
      display: flex;
      justify-items: center;
    }
  }
  .radar-box {
    background: #003366;
    margin-top: 10px;
    position: relative;
    border: 2px solid rgb(0, 153, 255);
    width: 450px;
    height: 100%;
  }
  .rotateBarChart {
    width: 450px;
    height: 400px;
  }
}

