@import "@app/variable.scss";
.m-pannel-btns {
  height: 83px;
  background: rgba(255,0,0,.3);
}
.m-alm-table {
  height: 500px;
  background: rgba(0,255,0,.3);
}
.m-wth-pic {
  height: 371px;
  background: rgba(0,0,255,.3);
}