.floodWarning {
  .ant-tabs-tab {
    color: white;
    margin-left: 10px;
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin: 0 0 5px 0;
  }
  .flood-warning-left {
    width: 500px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin-top: 80px;
    .radar-box {
      width: 500px;
      height: 100%;
    }
    .floodWaringPie {
      width: 400px;
      height: 200px;
    }
  }
  .flood-warning-right {
    width: 550px;
    // height: 800px;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin-top: 80px;
    .radar-box {
      height: 100%;
    }
  }
}
