.top-header {
	background: #fff;
	border-bottom: 1px solid #fff;
	padding: 0 15px;
	position: relative;
	.top-header-inner {
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		.header-title {
			flex: 1;
			padding-left: 15px;
			font-size: 20px;
		}
		.header-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 320px;
			> div {
				margin-left: 20px;
			}
		}
	}
	.drop-list {
		li {
			padding: 10px 15px;
		}
	}
}