@import "@app/variable.scss";
.easy-flood {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  z-index: 10;
  padding-top: $monitor_left_pd_top;
  padding-left: $monitor_left_pd_left;
  padding-bottom: $monitor_left_pd_bottom;
  .easyFlood-left {
    width: 400px;
    .radar-box {
      width: 500px;
      height: 300px;
    }
    .easyflood-left-bottom {
      .radar-box {
        width: 500px;
        height: 600px;
      }
    }
    .funnel-chart {
      width: 500px;
      height: 300px;
    }
    .table-title{
      color: white;
      font-size: 24px;
      margin-left: 15px;
    }
  }
}
.easyFlood-right {
  .radar-box {
    width: 435px;
    height: 310px;
  }
  .easyfloodInfo {
    width: 400px;
    height: 300px;
  }
  .easyfloodLine {
    width: 450px;
    height: 300px;
  }
}
