@import "@app/variable.scss";
.easy-flood-display {
  position: relative;
  height: $mapDisplayHeight;
  .easyFlood-left {
    position: absolute;
    top: 90px;
    bottom: 0px;
    left: 15px;
    .radar-box {
      width: 500px;
      height: 300px;
    }
    .easyflood-left-bottom {
      margin-top: 15px;
      .radar-box {
        width: 500px;
        height: 600px;
      }
    }
    .funnel-chart {
      width: 500px;
      height: 300px;
    }
    .table-title {
      color: white;
      font-size: 24px;
      margin-left: 15px;
    }
  }
  .easyFlood-right {
    position: absolute;
    top: 90px;
    right: 105px;
    .ranSwitch {
      position: absolute;
      right: 550px;
      top: 800px;
      background: rgba(15, 50, 70, 0.5);
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      .switch-border {
        border: 1px solid rgb(22, 83, 102);
        color: white;
        font-size: 20px;
        .swtich-border-check {
          margin-left: 5px;
          margin-top: 5px;
        }
      }
    }
    .pie-title-flex {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;
      margin-top: 10px;
      font-size: 15px;
      div {
        width: 60px;
      }
      label {
        width: 60px;
        display: flex;
        justify-content: center;
      }
      .number-color {
        color: rgb(0, 153, 255);
        font-size: 24px;
      }
    }
    .water-select {
      color: white;
      .water-select-flex {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .radar-box {
      width: 435px;
      height: 100%;
    }
    .easyfloodInfo {
      width: 400px;
      height: 200px;
    }
    .easyfloodLine {
      width: 450px;
      height: 300px;
    }
  }
}
