@import "@app/variable.scss";

.easy-flood-display {
  position: relative;
  min-height: $minheight;
  height: $mapDisplayHeight;
  .flood-chart-radio {
    position: absolute;
    top: 10px;
    right: 2px;
    z-index: 99;
  }
  .easyFlood-left {
    .set-table-style .ant-table-pagination.ant-pagination{
      margin: 7px 0;
    }
    .card-container {
      .ant-tabs-tab-btn {
        color: white;
      }
    }
    .card-container p {
      margin: 0;
    }
    .card-container > .ant-tabs-card .ant-tabs-content {
      height: 100%;
      margin-top: -16px;
    }
    .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
      // background: #fff;
      background: rgba(0, 51, 102, 0.7);
      padding: 10px 10px 0px 10px;
    }
    .card-container > .ant-tabs-card > .ant-tabs-nav::before {
      display: none;
    }
    .card-container > .ant-tabs-card .ant-tabs-tab,
    [data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-tab {
      border-color: transparent;
      background: transparent;
    }

    .card-container > .ant-tabs-card .ant-tabs-tab-active,
    [data-theme="compact"]
      .card-container
      > .ant-tabs-card
      .ant-tabs-tab-active {
      border-color: #1890ff;
      background: #1890ff;
      color: white;
    }
    #components-tabs-demo-card-top .code-box-demo {
      background: #f5f5f5;
      overflow: hidden;
      padding: 24px;
    }
    [data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-content {
      height: 120px;
      margin-top: -8px;
    }
    [data-theme="dark"] .card-container > .ant-tabs-card .ant-tabs-tab {
      border-color: transparent;
      background: transparent;
    }
    [data-theme="dark"] #components-tabs-demo-card-top .code-box-demo {
      background: #000;
    }
    [data-theme="dark"]
      .card-container
      > .ant-tabs-card
      .ant-tabs-content
      > .ant-tabs-tabpane {
      background: #141414;
    }
    [data-theme="dark"] .card-container > .ant-tabs-card .ant-tabs-tab-active {
      border-color: #141414;
      background: #141414;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: white;
    }

    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 90px;
    bottom: 0px;
    left: 15px;
    .radar-box {
      width: 500px;
      height: 280px;
      .box-head {
        width: 170px;
      }
    }
    .easyflood-left-bottom {
      .radar-box {
        width: 500px;
        height: 53vh;
        min-height: 550px;
      }
    }
    .funnel-chart {
      width: 500px;
      height: 240px;
    }
    .table-title {
      color: white;
      font-size: 24px;
      margin-left: 15px;
    }
    .easyfloodInfo {
      margin-top: 20px;
      width: 500px;
      height: 220px;
    }
    .pie-title-flex {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;
      // margin-top: 10px;
      font-size: 15px;
      div {
        width: 60px;
      }
      label {
        width: 60px;
        display: flex;
        justify-content: center;
      }
      .number-color {
        color: rgb(0, 153, 255);
        font-size: 34px;
        font-weight: bold;
      }
    }
  }
  .easyFlood-right {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 90px;
    right: 90px;
    bottom: 0px;
    .ranSwitch {
      position: absolute;
      right: 457px;
      top: 700px;
      background: rgba(15, 50, 70, 0.5);
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      .switch-checkout {
        display: flex;
        align-items: center;
        color: white;
        height: 30px;
      }
      .switch-ponding-flex {
        display: flex;
        align-items: center;
      }
      .switch-rain {
        margin-right: 10px;
        width: 12px;
        height: 12px;
        background: rgb(2, 158, 2);
        border-radius: 50%;
      }
      .switch-ponding {
        margin-right: 10px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid rgb(2, 158, 2);
      }
      .ant-checkbox-checked .ant-checkbox-inner {
        background: rgba(15, 50, 70, 0.5);
      }
      .ant-checkbox-checked .ant-checkbox-inner::after {
        position: absolute;
        display: table;
        border: 2px solid white;
        border-top: 0;
        border-left: 0;
        -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
        -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        opacity: 1;
        -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        content: " ";
      }
      .switch-border {
        border: 1px solid rgb(22, 83, 102);

        color: white;
        font-size: 20px;
        border-radius: 4px;
        .swtich-border-check {
          margin-left: 5px;
          margin-top: 5px;
        }
      }
    }

    .water-select {
      color: white;
      .water-select-flex {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .flood-first-box {
      .radar-box {
        width: 445px;
        height: 290px;
        .box-head {
          width: 180px;
        }
      }
    }
    .second-box {
      .radar-box {
        width: 445px;
        height: 540px;
        margin-top: 10px;
        min-height: 500px;
        .box-head {
          width: 180px;
        }
      }
      .set-rotate-radio {
        background: none;
        top: 290px;
        right: -80px;
      }
    }

    .easyfloodLine {
      width: 450px;
      height: 250px;
    }
  }
}
