.video {
  .chart-left-video {
    width: 550px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin-top: 80px;
    // padding: 4px;
    .line-chart {
      width: 500px;
      height: 280px;
    }
    .videoLinechart2 {
      width: 500px;
      height: 280px;
    }
    .videoBarChart {
      width: 500px;
      height: 300px;
    }
  }
  .chart-right-video {
    width: 550px;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin-top: 80px;
    .video-table {
      .ant-table table {
        table-layout: fixed;
        color: white;
        background: #003366;
        width: 100%;
        text-align: left;
        border-radius: 2px 2px 0 0;
        border-collapse: separate;
        border-spacing: 0;
      }
      tr.ant-table-expanded-row > td,
      tr.ant-table-expanded-row:hover > td {
        background: #003366;
      }
      .ant-table.ant-table-small
        .ant-table-thead
        .ant-table-filter-column-title {
        padding: 8px 2.3em 8px 8px;
        color: white;
        background: #003366;
      }
      .ant-table.ant-table-small
        .ant-table-thead
        th.ant-table-column-has-sorters {
        padding: 0;
        color: white;
        background: #003366;
      }
      .ant-table.ant-table-small .ant-table-thead > tr > th {
        padding: 8px 8px;
        color: white;
        background: #003366;
      }
      .ant-table.ant-table-small .ant-table-tbody > tr > td {
        background: #003366;
      }
      tr.ant-table-row ant-table-row-level-0 {
        background: #000000;
      }
      .ant-table-row-expand-icon-collapsed::before {
        color: black;
      }
      .ant-table-row-expand-icon-collapsed::after {
        color: black;
      }
      .ant-table-row-expand-icon::after{
        color: black;
      }
    }

    .radar-box {
      height: 300px;
    }
    .bar-chart {
      width: 535px;
      height: 280px;
    }
    .videoLinechart {
      width: 450px;
      height: 280px;
    }
  }
}
