@import "@app/variable.scss";
.ocean-drawer {
  .ant-drawer-body {
    background: #003366;
  }
  .ant-drawer-header {
    height: 110px;
    background: #003366;
  }
  // .ant-drawer-body {
  //   background: #f1f1f1;
  // }
  .ocean-drawer-body {
    // width: 1900px;
    height: 100%;
    background: #003366;
    .router-item {
      // background: #003366;
      // left: 20px;
    }
  }
}
