.hm-menu {
  display: flex;
  flex-direction: column;
  .hm-logo {
    height: 64px;
    flex-shrink: 0;
    color: white;
    font-size: 20px;
    position: relative;
    right: 0;
    left: 47px;
    top: 18px;
  }
  .hm-content {
    flex-grow: 1;
  }
}
