.div-right-table {
    position: relative;
    width: 1200px;
    height: 750px;
    right: -20px;
}
.div-left-echarts {
    width: 420px;
    height: 810px;
}
.echarts-isOnline {
    height: 400px;
}
.echarts-count {
    height: 400px; 
}
