.m-checkbox-row {
  width: 643px;
  height: 40px;
  background: rgba(255, 255, 255, 0.822);
  pointer-events: auto;
  border-radius: 10px;
}
.m-checkbox-row-div {
  width: 630px;
  height: 40px;
  position: relative;
  left: 35px;
  top: 7px;
}
.m-row-checkbox-img {
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 1px;
}
.m-row-checkbox-span {
  font-size: 16px;
  position: relative;
  left: 7px;
  color: #000000fd;
}
.m-checkbox-col {
  // width: 138px;
  // height: 248px;
  background: rgba(255, 255, 255, 0.801);
  pointer-events: auto;
  position: relative;
  left: -20px;
  border-radius: 10px;
  padding-left: 16px;
  .ant-menu {
    background: transparent;
    font-size: 16px;
    color: #000000fd;
  }
}
.m-checkbox-col-div {
  width: 100%;
  // height: 248px;
  position: relative;
  left: 4px;
  // top: 0px;
}
.m-checkbox-col-row {
  margin-top: 14px;
}
.m-checkbox-col-row:last-child {
  margin-bottom: 14px;
}
.m-col-checkbox-span {
  font-size: 16px;
  color: #000000fd;
  position: relative;
  left: 4px;
}
.m-col-checkbox-normal {
  font-size: 15px;
  letter-spacing: 8px;
  border-radius: 2px;
}
.ant-divider-horizontal {
  margin: 7px 0;
}
.m-checkbox-row-legend-paren {
  width: 340px;
  
  background: rgba(224, 224, 224, 0.849);
  pointer-events: auto;
  border-radius: 10px;
  position: relative;
  left: 775px;
}
.m-checkbox-row-legend {
  width: 330px;
  height: 105px;
  background: rgba(255, 255, 255, 0.548);
  pointer-events: auto;
  border-radius: 5px;
  position: relative;
  left: 5px;
  top: 5px;
}
.m-checkbox-row-div-legend {
  width: 330px;
  height: 60px;
  position: relative;
  left: 20px;
  top: 7px;
}
.font-yq {
  font-size: 16px;
  color: darkblue;
  position: relative;
  left: 20px;
  font-weight: bold;
}
.isShow{
  position: relative;
  left: 180px;
  font-size: 16px;
}